body, *, p, td {
	font-family: Tahoma;
	font-size: 9px;
}

#header {
	font-weight: bold;
	color: white;
	width: 176px;
	height: 39px;
	background: #bdd17a url({{ MEDIA_URL }}images/mobile/header-bg.gif) no-repeat;
}

#header.full {
	height: 79px;
	background: #bdd17a url({{ MEDIA_URL }}images/mobile/header-bg-front.gif) no-repeat;
}

#header li {
  padding-left: 15px;
  background: transparent url({{ MEDIA_URL }}images/checker-arrow.gif) no-repeat 0% 50%;
}

ul {
	list-style: none;
}

#footer {
	background-color: #bdd17a;
	color: white;
	text-align: center;
}

a {
	color: #1a4a96;
}

#sidebar {
	margin-top: 10px;
	background-color: #eaebcc;
}

form {
	background-color: #eaebcc;
	margin-bottom: 10px;
}

input {
  border: 1px solid black;
  background-color: white;
}

input.submit {
	background-color: #2f2f2f;
	color: white;
	font-weight: bold;
}

.ads {
	padding: 10px 0px;
}

.ads .ad {
  border-bottom: 1px solid black;
  width: 533px;
  padding: 10px 4px;
  margin: 0px 10px;
}

.ads .ad.first {
  border-top: 1px solid black;
}

.ads .ad .description {
  padding: 8px;
  color: black;
  min-height: 128px;
  height: auto !important;
  height: 128px;
}

.ads .ad .options {
  background-color: #e6f4b9;
  width: 536px;
  text-align: center;
  padding-top: 9px;
  height: 23px;
}

.ads .ad .options .label {
	font-weight: bold;
	color: black;
}

.ads .ad .description img {
	border: 5px solid #eaebcb;
	margin-right: 20px;
	float: left;
}

#content .ads .title {
  color: black;
  font-size: 1.4em;
  text-transform: uppercase;
}

.ads .right {
	float: right;
	margin-top: 20px;
	text-align: right;
}

.ads .featured {
  background-color: #EAEBCB;
}

.ad-view {
	text-align: center;
}

.ad-view .options {
  background-color: #EAEBCB;
  text-align: left;
}

.ad-view .price, .ad-view .location, .ad-view .title, .ad-view .label {
	font-weight: bold;
}
